body {
  max-width: 65ch;
  margin: auto;
  padding: 20px;

  font-family: Verdana, sans-serif;
  line-height: 1.5;
  color: #444;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;

  background-color: #ede4e0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  margin-bottom: 12px;
}

nav a {
  margin-right: 10px;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}

pre {
  padding: 1rem;
}

pre > code {
  all: unset;
}

blockquote {
  margin: 0;
  padding: 2px 0 2px 20px;

  font-style: italic;
  color: #222;

  border: 1px solid #999;
}

::selection {
  color: white;
  background-color: #ef4444;
}

/* body {
  margin: 0 auto !important;
} */

.column {
  width: 160px;
}
