h1 {
  font-family: "Dela Gothic One", system-ui;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  border: 0;
  padding: 1rem;
  text-align: center;
  font-size: xx-large;
  letter-spacing: 0.1px;
}

div {
  font-family: "Noto Sans Gothic", system-ui;
  font-size: x-large;
  width: 80%;
  padding: 0.1rem 0.8rem;
  border: 2px solid black;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}

a {
  font-family: "Noto Sans Gothic", system-ui;
  border: 2px solid black;
  padding: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: x-large;
}