h1 {
  font-family: "Dela Gothic One", system-ui;
  font-weight: 500;
}

h2 {
  font-family: "Pathway Gothic One", system-ui;
  font-weight: 600;
} 

div {
  font-family: "Noto Sans Gothic", system-ui;
  font-size: medium;
  box-shadow: 0 0 0 0 black;  border-radius: 5px;
  margin: 3em;
  padding: 1em;
  border: 3px solid black;
}









/* h1 {
  font-family: "Dela Gothic One", system-ui;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
  font-size: x-large;
  letter-spacing: 0.1px;
  padding-top: 0.8em;
}

div {
  font-family: "Noto Sans Gothic", system-ui;
  font-size: medium;
  width: 80%;
  padding: 0.1rem 0.8rem;
  border: 3px solid black;
  box-shadow: 5px 5px 2px 1px black;
  height: 50%
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

a {
  font-family: "Noto Sans Gothic", system-ui;
  padding: 0.5em;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: small;
  border: 3px solid black;
  box-shadow: 2px 2px 2px 0 black;
}

h2 {
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Pathway Gothic One", system-ui;
  font-weight: 600;
  font-size: medium;
} */

