h1 {
  font-family: "Dela Gothic One", system-ui;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
  font-size: xx-large;
  letter-spacing: 0.1px;
  padding-top: 0.8em;
}

div {
  font-family: "Noto Sans Gothic", system-ui;
  font-size: x-large;
  width: 80%;
  padding: 0.1rem 0.8rem;
  border: 3px solid black;
  box-shadow: 5px 5px 2px 1px black;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}

a {
  font-family: "Noto Sans Gothic", system-ui;
  padding: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: x-large;
  border: 3px solid black;
  box-shadow: 2px 2px 2px 1px black;
}

h2 {
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Pathway Gothic One", system-ui;
  font-weight: 600;
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}