---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
      <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
    </button>

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Daniel Moreno Cruz</h1>
      <h2 class="text-base dark:text-white">
        Bogotá, Colombia
      </h2>
      <h3 class="text-base dark:text-white">
        <a
          href="mailto:max.mustermann@example.com"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >alinedmooner@gmail.com</a
        >
      </h3>
    </div>

    <div id="education" class="mb-6">
      <SectionTitle title="Education" />

      <RowEntry
        description="I did three years in this career and since then I learned the basics of programming."
        name="02/2015 - 02/2018"
        title="Geographical Engineering"
        subTitle="Bogotá"
      />

      <RowEntry
        description="It is the degree that I am currently studying and where I have deepened my knowledge in software engineering."
        name="02/2021 - today"
        title="Systems Engineering"
        subTitle="Bogotá" 
      />
    </div>

    <div id="work" class="mb-6">
      <SectionTitle title="Working experience" />

      <RowEntry
        description="I develop websites with tools like WordPress or from scratch with MERN. Implementation of payment gateways, databases, domain and SEO optimization."
        name="Today"
        title="Freelancer"
        subTitle="" 
      />
    </div>

    <div id="programming-experience" class="mb-6">
      <SectionTitle title="Programming experience" />

      <RowEntry
        description="Administration and service system for a cinema that had branches in several cities, made with Java and SQL database."
        name="05/2022"
        title="Java 11 Developer"
        subTitle="Bogotá"
      />

      <RowEntry
        description="Participated in the development of react components for a project with Nextjs and Spring Boot."
        name="08/2022"
        title="MERN Developer"
        subTitle="Bogotá"
      />

      <RowEntry
        description="Development of a technical investigation about HTML."
        name="05/2023"
        title="Astro Developer"
        subTitle="Bogotá"
      />
    </div>

    <div id="skills" class="mb-6">
      <SectionTitle title="Skills and interests" />

      <RowEntry description="Spanish, English." name="Languages" />

      <RowEntry
        description="Mainly MERN Stack."
        name="Technologies"
      />

      <RowEntry
        description="Modern ways of generating quality products."
        name="Interests"
      />
    </div>

    <div id="social" class="justify-center flex flex-row mb-2">
      <div class="mr-4">
        <SocialIcon icon="fa-brands:github" label="github" url="https://www.github.com/alinedmooner" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:linkedin" label="linkedin" url="https://www.linkedin.com/in/alinedmooner/" />
      </div>
    </div>

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains(
              "dark"
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>
