---
import "../css/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Daniel Moreno Cruz, full-stack developer">
  <nav>
    <a href="">About me</a>
    <a href="">Projects</a>
    <a href="">Skills</a>
    <a href="">Social Media</a>
  </nav>
  <div class="hero-container">
    <header>
      <h1>Daniel Moreno Cruz</h1>
      <p>Web Developer and Student</p>
      <a href="/contact" class="test">Contact me</a>
    </header>
    <aside>
      <img src="https://pbs.twimg.com/profile_images/1737257421720932352/-26ljDBC_400x400.jpg" alt="">
    </aside>
  </div>

  <main>
    <section>
      <h2>Projects</h2>
      <section class="container">
        <div class="card">
          <p>Modern React</p>
          <div class="buttons-container">
            <a href="" class="test">demo</a>
            <a href="" class="test">code</a>
          </div>
        </div>
  
        <div class="card">
          <p>Vanilla JS</p>
          <div class="buttons-container">
            <a href="" class="test">demo</a>
            <a href="" class="test">code</a>
          </div>
        </div>
  
        <div class="card">
          <p>Classic React</p>
          <div class="buttons-container">
            <a href="" class="test">demo</a>
            <a href="" class="test">code</a>
          </div>
        </div>
  
        <div class="card">
          <p>Vanilla TS</p>
          <div class="buttons-container">
            <a href="" class="test">demo</a>
            <a href="" class="test">code</a>
          </div>
        </div>
        <div class="card">
          <p>Classic Java</p>
          <div class="buttons-container">
            <a href="" class="test">demo</a>
            <a href="" class="test">code</a>
          </div>
        </div>
        <div class="card">
          <p>Modern Angular</p>
          <div class="buttons-container">
            <a href="" class="test">demo</a>
            <a href="" class="test">code</a>
          </div>
        </div>
      </section>
    </section>
  </main>
  <h2>Skills</h2>
  <section class="container">
    <div class="skills-container">
      <div class="item first">
        <h3>Front-end development</h3>
        <p>I enjoy developing applications using exclusively native tools; however, I can also use libraries and frameworks such as React, Next, Vue, Angular, and others. Design is not my strong suit, but I make efforts to improve in this area.</p>
      </div>
      <div class="item">
        <h3>Back-end development</h3>
        <p>I have built APIs using the primarily MERN stack. I've also worked on projects using native Java. Nevertheless, I feel comfortable with languages and frameworks related to object-oriented programming (OOP) and the Model-View-Controller (MVC) model.</p>
      </div>
      <div class="item">
        <h3>Active user of Linux systems</h3>
        <p>For the past two years, I have been using Linux daily, trying out various distributions, but I specialize in Debian-based distributions. I can manage servers in production and perform maintenance on them.</p>
      </div>
      <div class="item">
        <h3>Development focused on testing</h3>
        <p>My learning in test development is still in progress, and every day I strive to master it better. I have used tools like Jest, Vitest, JUnit, among others.</p>
      </div>
      <div class="item">
        <h3>Mastery of English</h3>
        <p>I have taken courses since a young age, but it was only in my adulthood that I underwent more intensive training. Currently, my English proficiency is at the B2 level, and it improves every day, aiming to reach B1.</p>
      </div>
      <div class="item">
        <h3>Customer Attention and Service</h3>
        <p>I have vocational technical training for the proper attention to users through assertive communication and handling of situations.</p>
      </div>
      <div class="item">
        <h3>Use of Agile methodologies and software processes</h3>
        <p>I have taken courses on software project management, and I am familiar with the most popular frameworks. I constantly seek to stay well-informed about new trends..</p>
      </div>
      <div class="item last">
        <h3>Utilization of Artificial Intelligence</h3>
        <p>Artificial intelligences are here to stay. Currently, I enjoy experimenting with new and revolutionary things using ChatGPT and similar APIs. For code development, GitHub Copilot is my favorite. In the future, I want to further enhance my education on the latest trends.</p>
      </div>
    </div>
  </section>
  <h2>Education</h2>
  <section class="container">
    <div class="skills-container">
      <div class="item first">
        <h3>Systems Engineer</h3>
        <p>By 2024, I will start the fourth of six years to complete my studies. I am currently halfway through, but I consider the education received very enriching for my future as a professional.</p>
      </div>
      <div class="item">
        <h3>English courses</h3>
        <p>I have received certifications and diplomas from English courses at the local level. I consistently enroll in new ones to further enhance my skills and master the language.</p>
      </div>
      <div class="item last">
        <h3>Other courses</h3>
        <p>Throughout my life, I have taken other courses on complementary skills. Before starting my journey in computer science and technology, I pursued a degree related to civil engineering, geography, and geographic information systems.</p>
      </div>
    </div>
  </section>
  <h2>Social Media</h2>
  <section class="container">
    <div class="social-container">
      <a href="" class="test discord">Discord</a>
      <a href="" class="test github">GitHub</a>
      <a href="" class="test linkedin">Linkedin</a>
      <a href="" class="test twitch">Twitch</a>
      <a href="" class="test twitter">X</a>
      <a href="" class="test youtube">YouTube</a>
    </div>
  </section>
  <footer>
    <p class="firm">Website by <b>@alinedmooner</b>, Dec. 2023.</p>
  </footer>
</Layout>
