---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
      <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
    </button>

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">
        Daniel Moreno Cruz
      </h1>
      <h2 class="text-base dark:text-white">Bogotá, Colombia</h2>
      <h3 class="text-base dark:text-white">
        <a
          href="mailto:max.mustermann@example.com"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >alinedmooner@gmail.com</a
        >
      </h3>
    </div>

    <div id="education" class="mb-6">
      <SectionTitle title="educación" />

      <RowEntry
        description="Estudie tres años de esta carrera que es única, en donde pase grandes experiencias. En esta época fue la primera vez que conocí el desarrollo de software."
        name="02/2015 - 02/2018"
        title="Ingeniería Catastral y Geodesia"
        subTitle="Bogotá"
      />

      <RowEntry
        description="Es la carrera que curso actualmente, en donde en pocos años he aprendido acerca de los fundamentos del desarrollo de software."
        name="02/2021 - Hoy"
        title="Ingeniería de Sistemas"
        subTitle="Bogotá"
      />
    </div>

    <div id="work" class="mb-6">
      <SectionTitle title="experiencia laboral" />

      <RowEntry
        description="Asistente e instructor en cursos semanales de Linux, Bash y estado del arte de las tecnologías Open Source, técnico de instalación, mantenimiento y configuración en distribuciones de Linux y administración de redes."
        name="08/2022"
        title="Instructor Linux/Open Source"
        subTitle="Grupo Linux Universidad Distrital"
      />

      <RowEntry
        description="Desarrollo de proyectos para pequeñas empresas y proyectos personales, integración de pasarelas de pago, despliegue a producción y gestión de dominio utilizando WordPress o stack MERN con posibles variaciones."
        name="Hoy"
        title="Freelancer"
        subTitle=""
      />
    </div>

    <div id="programming-experience" class="mb-6">
      <SectionTitle title="experiencia como programador" />

      <RowEntry
        description="Hice un proyecto grupal para el desarrollo de un sistema administrativo en una cadena de cines que opera en muchas ciudades, el desarrollo se hizo mediante Java usando una base de datos SQL. Se solicitaba la documentación del código con diagramas UML y el uso de metodología SCRUM para el desarrollo del proyecto."
        name="05/2022"
        title="Desarrollador Java 11"
        subTitle="Bogotá"
      />

      <RowEntry
        description="Hice un proyecto mediante el stack MERN en donde adicionaba el uso de Redux para el manejo del estado global y su interacción con la API back-end, autenticación, registro, modificación y eliminación de usuarios y productos, configuración de servidor, despliegue y gestión de dominio."
        name="08/2022"
        title="Desarrollador MERN"
        subTitle="Bogotá"
      />
    </div>

    <div id="skills" class="mb-6">
      <SectionTitle title="Habilidades e Intereses." />

      <RowEntry description="Español, Inglés." name="Lenguajes" />

      <RowEntry description="Principalmente el stack MERN." name="Tecnologías" />

      <RowEntry
        description="Desarrollo de software con JS."
        name="Intereses"
      />
    </div>

    <div id="social" class="justify-center flex flex-row mb-2">
      <div class="mr-4">
        <SocialIcon
          icon="fa-brands:github"
          label="github"
          url="https://www.github.com/alinedmooner"
        />
      </div>
      <div class="mr-4">
        <SocialIcon
          icon="fa-brands:linkedin"
          label="linkedin"
          url="https://www.linkedin.com/in/alinedmooner/"
        />
      </div>
    </div>

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains(
              "dark"
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>
