---
import '../css/global.css'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Daniel Moreno Cruz, desarrollador full-stack">
	<header>
    <h1>Daniel Moreno Cruz</h1>
    <p>Desarrollador Web</p>
    <a href="" class="test">Contact me</a>
  </header>
  <main>
    <section>
      <h2>Projects</h2>
      <div>
        <a href="">demo</a>
        <a href="">code</a>
      </div>
      <div>
        <a href="">demo</a>
        <a href="">code</a>
      </div>
      <div>
        <a href="">demo</a>
        <a href="">code</a>
      </div>
      <div>
        <a href="">demo</a>
        <a href="">code</a>
      </div>
      <div>
        <a href="">demo</a>
        <a href="">code</a>
      </div>
    </section>
  </main>
  <section>
    <h2>Skills</h2>
    <div>
      English
      <hr>
      JavaScript
      <hr>
      typeScript  
      <hr>
      Testing
      <hr>
      Deployment
      <hr>
      Linux Administration
    </div>
  </section>
  <section>
    <h2>Education</h2>
    <div>
      Systems Engineer
      <progress id="file" max="100" value="45">45%</progress>
      <hr>
      Client Attention
      <hr>
      Technical English   
    </div>
  </section>
  <footer>
    <a href="">@alinedmooner</a>
  </footer>
</Layout>

