.test {
  border: black 2px solid;
  padding: 10px;
  box-shadow: 0.2em 0.2em 0 black;
  position: relative;
  left: -0.2em;
  top: -0.2em;
  transition-duration: 144ms;
  border-radius: 8px;
  shape-rendering: geometricPrecision;
  animation-timing-function: ease;
}

.test:hover {
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 0 black;
}

body {
  background: brown;
}

@font-face {
  font-family: 'AlbertSans-Variable';
  src: url("AlbertSans-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Geologica-Variable';
  src: url("Geologica-VariableFont_CRSV,SHRP,slnt,wght.woff2") format("woff2");
}

@font-face {
  font-family: 'PublicSans-Variable';
  src: url("PublicSans-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Vazirmatn-Variable';
  src: url("Vazirmatn-VariableFont_wght.woff2") format("woff2");
}


@font-face {
  font-family: 'LibreFranklin-Bold';
  src: url("LibreFranklin-Bold.woff2")
  format("woff2");
}

@font-face {
  font-family: "Vazirmatn-Bold";
  src: url("Vazirmatn-Bold.woff2");
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Geologica-Variable;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

p {
  font-family: AlbertSans-Variable;
  text-align: center;
  margin-top: 0;
}

a {
  font-family: AlbertSans-Variable;
  text-align: center;
  width: 7em;
  text-decoration: none;
  font-size: medium;
  font-weight: 800;
  color: black;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: LibreFranklin-Bold;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0.3em;
}

.card {
  background: purple;
  margin: 0.7em;
  width: 20rem;
  height: 12rem;
  border-radius: 13px;
  border: black 2px solid;
  display: flex;
  align-items: end;
  justify-content: space-around;
  border-bottom: thick double black;
  border-right: thick double black;
  box-shadow: 0.08em 0.08em 0 black;
  align-items: center;
  flex-direction: column;
  padding: 0.7em 0.1em 0.2em 0.1em;
  font-size: 1.8em;
  text-align: center;
  font-weight: 500;
  text-wrap: wrap;
}

.buttons-container {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0.3em;
}

.buttons-container > a {
  width: 3em;
  margin: 0.5em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-container {
  border: 2px solid black;
  margin: 1em;
  border-radius: 20px;
  border-bottom: thick double black;
  border-right: thick double black;
  box-shadow: 0.08em 0.08em 0 black;
  width: 21rem;
}

.item {
  border-bottom: 2px solid black;
  width: 20rem;
  padding: 0.5em;
  margin: 0;
}

.last {
  border-bottom: 0;
}

.item > p {
  font-family: Vazirmatn-Variable;
  text-align: left;
}

h3 {
  font-family: Vazirmatn-Bold;
  margin-bottom: 0;
}

footer {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.firm {
  font-family: PublicSans-Variable;
  font-size: small;
}

.social-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social-container > a {
  margin: 1em;
}

body {
  margin-bottom: 0;
}

.card > p {
  width: 80%;
  font-family: Geologica-Variable;
  margin: 0;
}