.test {
  border: black 2px solid;
  padding: 10px;
  box-shadow: 0.2em 0.2em 0 black;
  position: relative;
  left: -0.2em;
  top: -0.2em;
  transition-duration: 144ms;
  border-radius: 8px;
  shape-rendering: geometricPrecision;
  animation-timing-function: ease;
}

.test:hover {
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 0 black;
}

body {
  background: brown;
}

@font-face {
  font-family: 'ABeeZee-Italic';
  src: url("ABeeZee-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'AlbertSans-Variable';
  src: url("AlbertSans-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Nunito-Variable';
  src: url("Nunito-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'OpenSans-Variable';
  src: url("OpenSans-VariableFont_wdth,wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Geologica-Variable';
  src: url("Geologica-VariableFont_CRSV,SHRP,slnt,wght.woff2") format("woff2");
}

@font-face {
  font-family: 'BIZUDPGothic-Bold';
  src: url("BIZUDPGothic-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'CabinCondensed-Medium';
  src: url("CabinCondensed-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'FiraMono-Medium';
  src: url("FiraMono-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'IBMPlexSansCondensed-Medium';
  src: url("IBMPlexSansCondensed-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Kreon-Variable';
  src: url("Kreon-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'LibreFranklin-Variable';
  src: url("LibreFranklin-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'MerriweatherSans-Variable';
  src: url("MerriweatherSans-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Merriweather-Black';
  src: url("Merriweather-Black.woff2") format("woff2");
}

@font-face {
  font-family: 'Mitr-Medium';
  src: url("Mitr-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Mitr-Medium';
  src: url("NotoSansVithkuqi-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Palanquin-Medium';
  src: url("Palanquin-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'PalanquinDark-Medium';
  src: url("PalanquinDark-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url("PTSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'PublicSans-Variable';
  src: url("PublicSans-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'RobotoSlab-Variable';
  src: url("RobotoSlab-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Sarala-Bold';
  src: url("Sarala-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'SpaceMono-Bold';
  src: url("SpaceMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("Ubuntu-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Unbounded-Variable';
  src: url("Unbounded-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Vazirmatn-Variable';
  src: url("Vazirmatn-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url("Nunito-Bold.woff2")
  format("woff2");
}

@font-face {
  font-family: 'LibreFranklin-Bold';
  src: url("LibreFranklin-Bold.woff2")
  format("woff2");
}

@font-face {
  font-family: "Vazirmatn-Bold";
  src: url("Vazirmatn-Bold.woff2");
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Geologica-Variable;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

p {
  font-family: AlbertSans-Variable;
  text-align: center;
  margin-top: 0;
}

a {
  font-family: AlbertSans-Variable;
  text-align: center;
  width: 7em;
  text-decoration: none;
  font-size: medium;
  font-weight: 800;
  color: black;
}

h2 {
  font-family: LibreFranklin-Bold;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0.3em;
}

div {
  font-family: OpenSans-Variable;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.showcase-container > span {
  padding: 1em;
}

.fuente-1 {
  font-family: ABeeZee-Italic;
  font-size: 2em;
}

.fuente-2 {
  font-family: AlbertSans-Variable;
  font-size: 2em;
}

.fuente-3 {
  font-family: Nunito-Variable;
  font-size: 2em;
}

.fuente-4 {
  font-family: OpenSans-Variable;
  font-size: 2em;
}

.fuente-5 {
  font-family: Geologica-Variable;
  font-size: 2em;
}

.fuente-6 {
  font-family: BIZUDPGothic-Bold;
  font-size: 2em;
}

.fuente-7 {
  font-family: CabinCondensed-Medium;
  font-size: 2em;
}

.fuente-8 {
  font-family: FiraMono-Medium;
  font-size: 2em;
}

.fuente-9 {
  font-family: IBMPlexSansCondensed-Medium;
  font-size: 2em;
}

.fuente-10 {
  font-family: Kreon-Variable;
  font-size: 2em;
}

.fuente-11 {
  font-family: LibreFranklin-Variable;
  font-size: 2em;
}

.fuente-12 {
  font-family: MerriweatherSans-Variable;
  font-size: 2em;
}

.fuente-13 {
  font-family: Merriweather-Black;
  font-size: 2em;
}

.fuente-14 {
  font-family: Mitr-Medium;
  font-size: 2em;
}

.fuente-15 {
  font-family: Palanquin-Medium;
  font-size: 2em;
}

.fuente-16 {
  font-family: PTSans-Bold;
  font-size: 2em;
}

.fuente-17 {
  font-family: PublicSans-Variable;
  font-size: 2em;
}

.fuente-18 {
  font-family: RobotoSlab-Variable;
  font-size: 2em;
}

.fuente-19 {
  font-family: Sarala-Bold;
  font-size: 2em;
}

.fuente-20 {
  font-family: SpaceMono-Bold;
  font-size: 2em;
}

.fuente-21 {
  font-family: Ubuntu-Medium;
  font-size: 2em;
}

.fuente-22 {
  font-family: Unbounded-Variable;
  font-size: 2em;
}

.fuente-23 {
  font-family: Vazirmatn-Variable;
  font-size: 2em;
}

.fuente-24 {
  font-family: Nunito-Bold;
  font-size: 2em;
}

.card {
  background: purple;
  margin: 0.7em;
  width: 300px;
  height: 200px;
  border-radius: 13px;
  border: black 2px solid;
  display: flex;
  align-items: end;
  justify-content: center;
  border-bottom: thick double black;
  border-right: thick double black;
  box-shadow: 0.08em 0.08em 0 black;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container > a {
  width: 3em;
  margin: 0.5em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-container {
  border: 2px solid black;
  margin: 1em;
  border-radius: 20px;
  border-bottom: thick double black;
  border-right: thick double black;
  box-shadow: 0.08em 0.08em 0 black;
  width: 20rem;
}

.item {
  border-bottom: 2px solid black;
  width: 19rem;
  padding: 0.5em;
  margin: 0;
}

.last {
  border-bottom: 0;
}

.item > p {
  font-family: Vazirmatn-Variable;
  text-align: left;
}

h3 {
  font-family: Vazirmatn-Bold;
  margin-bottom: 0;
}

footer {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.firm {
  font-family: PublicSans-Variable;
  font-size: small;
}

.social-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social-container > a {
  margin: 1em;
}

body {
  margin-bottom: 0;
}