.test {
  border: black 2px solid;
  padding: 10px;
  box-shadow: 0.2em 0.2em  black;
  position: relative;
  left: -0.2em;
  top: -0.2em;
  transition-duration: 144ms;
  border-radius: 8px;
  shape-rendering: geometricPrecision;
  animation-timing-function: ease;
}

.test:hover {
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px black;
}