@font-face {
  font-family: 'AlbertSans-Variable';
  src: url("/AlbertSans-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Geologica-Variable';
  src: url("/Geologica-VariableFont_CRSV,SHRP,slnt,wght.woff2") format("woff2");
}

@font-face {
  font-family: 'PublicSans-Variable';
  src: url("/PublicSans-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Vazirmatn-Variable';
  src: url("/Vazirmatn-VariableFont_wght.woff2") format("woff2");
}


@font-face {
  font-family: 'LibreFranklin-Bold';
  src: url("/LibreFranklin-Bold.woff2")
  format("woff2");
}

@font-face {
  font-family: "Vazirmatn-Bold";
  src: url("/Vazirmatn-Bold.woff2");
}

.test {
  border: black 2px solid;
  padding: 10px;
  box-shadow: 0.2em 0.2em 0 black;
  position: relative;
  left: -0.2em;
  top: -0.2em;
  transition-duration: 144ms;
  border-radius: 8px;
  shape-rendering: geometricPrecision;
  animation-timing-function: ease;
}

.test:hover {
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 0 black;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Geologica-Variable;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

p {
  font-family: AlbertSans-Variable;
  text-align: center;
  margin-top: 0;
}

a {
  font-family: AlbertSans-Variable;
  text-align: center;
  width: 7em;
  text-decoration: none;
  font-size: medium;
  font-weight: 800;
  color: black;
  padding: 0;
  margin: 0;
  appearance: auto;
  background-color: transparent;
}

a:hover {
  background-color: #A1EEBD;
}

div.buttons-container > a:nth-child(1) {
  background-color: transparent;
}

div.buttons-container > a:nth-child(2) {
  background-color: transparent;
}

h2 {
  font-family: LibreFranklin-Bold;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0.8em;
}

section > div.skills-container {
  background-color: transparent;
}

div > .item:nth-child(1) {
  background-color: transparent;
}

div > .item:nth-child(2) {
  background-color: transparent;
}

div > .item:nth-child(3) {
  background-color: transparent;
}

div > .item:nth-child(4) {
  background-color: transparent;
}

div > .item:nth-child(5) {
  background-color: transparent;
}

div > .item:nth-child(6) {
  background-color: transparent;
}

div > .item:nth-child(1):hover {
  background-color: #FF8080;
  transition-duration: 144ms;

}

div > .item:nth-child(2):hover {
  background-color: #A6F6FF;
  transition-duration: 144ms;

}

div > .item:nth-child(3):hover {
  background-color: #F4E869;
  transition-duration: 144ms;

}

div > .item:nth-child(4):hover {
  background-color: #A6FF96;
  transition-duration: 144ms;

}

div > .item:nth-child(5):hover {
  background-color: #FF6969;
  transition-duration: 144ms;

}

div > .item:nth-child(6):hover {
  background-color: #BEADFA;
  transition-duration: 144ms;

}

div > .item:nth-child(7):hover {
  background-color: #F3AA60;
  transition-duration: 144ms;

}

div > .item:nth-child(8):hover {
  background-color: #41644A;
  transition-duration: 144ms;

}


div > .item.first {
  border-radius: 20px 20px 0 0;
}

div > .item.last {
  border-radius: 0 0 20px 20px;
}

.card {
  margin: 0.7em;
  width: 20rem;
  height: 12rem;
  border-radius: 13px;
  display: flex;
  align-items: end;
  justify-content: space-around;
  /* border-bottom: thick double black;
  border-right: thick double black; */
  border: black 2px solid;
  box-shadow: 0.08em 0.08em 0 black;
  align-items: center;
  flex-direction: column;
  padding: 0.7em 0.1em 0.1em 0.1em;
  font-size: 1.8em;
  text-align: center;
  font-weight: 500;
  text-wrap: wrap;
  background-color: transparent;
}

.buttons-container {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0.3em;
}

.buttons-container > a {
  width: 3em;
  margin: 0.5em;
}

.buttons-container > a.test:hover {
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-container {
  border: 2px solid black;
  margin: 1em;
  border-radius: 20px;
  /* border-bottom: thick double black;
  border-right: thick double black; */
  box-shadow: 0.08em 0.08em 0 black;
  width: 80%;
}

.item {
  border-bottom: 2px solid black;
  width: 98
  5%;
  padding: 0.5em;
  margin: 0;
}

.last {
  border-bottom: 0;
}

.item > p {
  font-family: Vazirmatn-Variable;
  text-align: left;
}

h3 {
  font-family: Vazirmatn-Bold;
  margin-bottom: 0;
}

footer {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.firm {
  font-family: PublicSans-Variable;
  font-size: small;
}

.social-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social-container > a {
  margin: 1em;
}

body {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.card > p {
  width: 80%;
  font-family: Geologica-Variable;
  margin: 0;
}

nav {
  border-bottom: solid black 2px;
  padding: 1em;
  display: none;
  justify-content: center;
}

aside > img {
  display: none;
  border: black 2px solid;
  box-shadow: 0.08em 0.08em 0 black;
}

.test.discord {
  background-color: #5865f2;
  color: white;
}

.test.youtube {
  background-color: #ff0000;
  color: white;
}

.test.github {
  background-color: #1e1c1c;
  color: white;
}

.test.twitter {
  background-color: #000;
  color: white;
}

.test.linkedin {
  background-color: #0a66c2;
  color: white;
}

.test.twitch {
  background-color: #a970ff;
  color: white;
}

.card:nth-child(1):hover {
  transition-duration: 144ms;
  background-color: #F2AFEF;
}

.card:nth-child(2):hover {
  transition-duration: 144ms;
  background-color: #7BD3EA;
}

.card:nth-child(3):hover {
  transition-duration: 144ms;
  background-color: #F6ECA9;
}

.card:nth-child(4):hover {
  transition-duration: 144ms;
  background-color: #BF3131;
}

.card:nth-child(5):hover {
  transition-duration: 144ms;
  background-color: #A367B1;
}

.card:nth-child(6):hover {
  transition-duration: 144ms;
  background-color: #FB8B24;
}

@media (width > 1024px) {
  section.container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav {
    border-bottom: solid black 2px;
    padding: 1em;
    justify-content: space-evenly;
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    height: 2.1em;
  }

  nav > a {
    width: fit-content;
  }

  nav > a:hover {
    background-color: white;
    border-bottom: solid 3px black;
  }
  
  aside > img {
    display: block;
  }

  .hero-container {
    display: flex;
    justify-content: space-around;
    padding: 0;
    height: 90vh;
    align-items: center;
  }

  h1 {
    font-size: 3em;
  }

  header > p {
    font-size: 2em;
  }

  header > a {
    font-size: 1.7em;
  }

  nav > a {
    font-size: 1.7em;
    background-color: transparent;
  }

  h2 {
    text-align: center;
    font-size: 3em;
    padding: 0.7em;
  }

  .social-container {
    display: flex;
    flex-wrap: wrap;
  }

  h3 {
    font-size: 1.5rem;
  }

  .item > p {
    font-size: 1.2rem;
  }

  .card {
    width: 22rem;
  }
}

@media (722px <= width <= 1024px) {
  h1 {
    font-size: 2em;
  }

  header > p {
    font-size: 1.5em;
  }

  header > a {
    font-size: 1.2em;
  }

  nav > a {
    font-size: 1.3em;
  }

  .card {
    height: 13rem;
    width: 21rem;
    padding: 0.1em;
  }

  h2 {
    text-align: center;
    font-size: 2em;
    padding: 0.3em;
  }

  section > section.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .social-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  h3 {
    font-size: 1.5rem;
  }

  .item > p {
    font-size: 1.2rem;
  }
}

@media (512px <= width <= 722px) {
  .card {
    width: 30rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  .social-container {
    display: flex;
    flex-wrap: wrap;

  }

  h3 {
    font-size: 1.5rem;
  }

  .item > p {
    font-size: 1.2rem;
  }

  .social-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}