.test {
  border: black 2px solid;
  padding: 10px;
  box-shadow: 0.2em 0.2em 0 black;
  position: relative;
  left: -0.2em;
  top: -0.2em;
  transition-duration: 144ms;
  border-radius: 8px;
  shape-rendering: geometricPrecision;
  animation-timing-function: ease;
}

.test:hover {
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 0 black;
}

body {
  background: brown;
}

@font-face {
  font-family: 'ABeeZee-Italic';
  src: url("ABeeZee-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'AlbertSans-Variable';
  src: url("AlbertSans-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Nunito-Variable';
  src: url("Nunito-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'OpenSans-Variable';
  src: url("OpenSans-VariableFont_wdth,wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Geologica-Variable';
  src: url("Geologica-VariableFont_CRSV,SHRP,slnt,wght.woff2") format("woff2");
}

h1 {
  font-family: ABeeZee-Italic;
}

a {
  font-family: AlbertSans-Variable;
}

h2 {
  font-family: Nunito-Variable;
}

div {
  font-family: OpenSans-Variable;
}

p {
  font-family: Geologica-Variable;
}