@font-face {
  font-family: "Mona Sans";
  src: url("Mona-Sans.woff2") format("woff2");
}

@font-face {
  font-family: "Archivo Black";
  src: url("ArchivoBlack-Regular.woff2") format("woff2");
}

h1 {
  margin: 0;
  font-family: "Mona Sans", sans-serif;
  font-size: 2em;
  text-align: center;
}

div {
  width: 100vw;
  height: 100vh;
  background: blue;
}

section {
  width: 800px;
  background: red;
  border-radius: 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
